<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tbs.thinkbiz.solutions.itshades">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Get Started"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".ForgotPassActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:label=""
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SubscribeActivity"
            android:label=""
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ContactUsActivity"
            android:label="                Contact Us"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".Jobs.JobsActivity"
            android:label="" />
        <activity android:name=".ITBytes.ITBytesActivity" />
        <activity android:name=".ClassifiedsActivity" />
        <activity
            android:name=".FilterActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Jobs.CurrentJobActivity" />
        <activity android:name=".Jobs.CrntJobFilterActivity" />
        <activity
            android:name=".Jobs.DetailsActivity"
            android:label="Job Description"
            android:parentActivityName=".Main2Activity" />
        <activity android:name=".PrevayActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".ITBytes.ITBytDetailsActivity" />
        <activity android:name=".ITBytes.ITBytDetailsActivity1" />
        <activity android:name=".CompReviewActivity" />
        <activity android:name=".CompnyDrctry.CmpProfFilterActivity" />
        <activity android:name=".CompnyDrctry.CmpDirectoryActivity" />
        <activity
            android:name=".CompnyDrctry.CmpProfileActivity"
            android:parentActivityName=".CompnyDrctry.CmpDirectoryActivity" />
        <activity android:name=".Solutions.ProdAndPlatformActivity" />
        <activity android:name=".Solutions.ITConsltAndServActivity" />
        <activity android:name=".Solutions.IndSolutionsActivity" />
        <activity android:name=".LearningAndDevelopment.OnlineTranPortalActivity" />
        <activity android:name=".LearningAndDevelopment.OnlineTrainingActivity" />
        <activity android:name=".LearningAndDevelopment.ClassroomTraingActivity" />
        <activity android:name=".LearningAndDevelopment.CertificationsActivity" />
        <activity android:name=".LearningAndDevelopment.OnDemandTrangActivity" />
        <activity android:name=".Artifacts.AnalystReportActivity" />
        <activity android:name=".Artifacts.WhitePapersActivity" />
        <activity android:name=".Artifacts.CustSuccStoriesActivity" />
        <activity android:name=".Events.OnlineEvent.OnlineEventsActivity" />
        <activity android:name=".Events.ConfSumm.ConfrncSummitsActivity" />
        <activity android:name=".Events.Webinar.WebinarActivity" />
        <activity android:name=".Solutions.FilterAllActivity" />
        <activity android:name=".Jobs.JobsFilterActivity" />
        <activity
            android:name=".CorpCustomer.CorpMainActivity"
            android:label="Corporate Customer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CorpCustomer.SubmissionLink.ParentActivity"
            android:label="Submission Links"
            android:parentActivityName=".CorpCustomer.CorpMainActivity" />
        <activity
            android:name=".CorpCustomer.Profile.ProfileActivity"
            android:label="Profile Activity"
            android:parentActivityName=".CorpCustomer.CorpMainActivity" />
        <activity
            android:name=".CorpCustomer.Profile.ChangePassActivity"
            android:label="Password Change"
            android:parentActivityName=".CorpCustomer.Profile.ProfileActivity" />
        <activity
            android:name=".CorpCustomer.Profile.AccDetailsActivity"
            android:label="Account Details"
            android:parentActivityName=".CorpCustomer.Profile.ProfileActivity" />
        <activity
            android:name=".CorpCustomer.Profile.InviteFrndsActivity"
            android:label="Invite To Friends"
            android:parentActivityName=".CorpCustomer.Profile.ProfileActivity" />
        <activity
            android:name=".CorpCustomer.Profile.ContactUsPrflActivity"
            android:label="Contact Us"
            android:parentActivityName=".CorpCustomer.Profile.ProfileActivity" />
        <activity android:name=".ITByteDetailsRecy.FinancialActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".ITByteDetailsRecy.SolutionsActivity" />
        <activity android:name=".ITByteDetailsRecy.RewardAndRecogActivity" />
        <activity android:name=".ITByteDetailsRecy.CustSuccessActivity" />
        <activity android:name=".ITByteDetailsRecy.MarktAndEventsActivity" />
        <activity android:name=".ITByteDetailsRecy.MandAPartActivity" />
        <activity android:name=".ITByteDetailsRecy.MiscellaneousActivity" />
        <activity android:name=".ITByteDetailsRecy.AnnouncementsActivity" />
        <activity android:name=".ITBytes.ITBytDetailsActivity11" />
        <activity android:name=".LearningAndDevelopment.LandDetailsActivity" />
        <activity android:name=".LearningAndDevelopment.ContactForm" />
        <activity android:name=".Events.OnlineEvent.OnlineEventDetailsActivity" />
        <activity android:name=".Events.ConfSumm.ConfSummDetailsActivity" />
        <activity android:name=".Events.Webinar.WebinarDetailsActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.JobSubmission.AddnewJobActivity" />
        <activity android:name=".CorpCustomer.ManagAuthUsers.MangAuthUsersActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.JobSubmission.JobSubmiActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.JobSubmission.EditViewActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.SolutionsB.ProdAndPlatfActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.SolutionsB.ITConsAndServActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.SolutionsB.IndsSolutActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.OnlnTrangActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.ClassRmTrngActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.CertifictinActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.OnDemndTrngActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.AnalysReprtActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.WhtPapersActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.CustScsStoriesActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.OnlinEvntsActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.ConfAndSummtsActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ClassifiedsB.ClassifidsBActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.Blog.BlogActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.WebinarB.WebinarBActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MyEmployer.MyEmployerActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.SolutionsB.SolutionBActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.LearngAndDevActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.ArtifactsBActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.MarktngEvntsActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.LnDCorpEditActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.ArtEditActivity" />
        <activity android:name=".CorpCustomer.Profile.CompanySiteActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.EvntEditActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.Blog.BlogEditActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.WebinarB.WebinarEditActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.WebinarB.AddNewWebinarActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.LearnAndDevlp.AddNewLnDActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.ArtifactsB.AddNewArtifactsActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.AddNewOnlnEvntActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MarkEvents.AddNewConfnSumtActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.Blog.AddNewBlogActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MyEmployer.MyEmpEditActivity" />
        <activity android:name=".CorpCustomer.SubmissionLink.MyEmployer.AddNewEmpActivity" />
        <activity android:name=".CorpCustomer.ManagAuthUsers.ManagAuthEditActivity" />
        <activity android:name=".CorpCustomer.ManagAuthUsers.AddNewManagActivity"></activity>
    </application>

</manifest>