<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.itshaeds">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Get Started"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ForgotPassActivity" />
        <activity
            android:name=".AboutUsActivity"
            android:label=""
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SubscribeActivity"
            android:label=""
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ContactUsActivity"
            android:label="                Contact Us"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".JobsActivity"
            android:label="" />
        <activity android:name=".ITBytes.ITBytesActivity" />
        <activity android:name=".ClassifiedsActivity" />
        <activity android:name=".SolutionsActivity" />
        <activity android:name=".LearningActivity" />
        <activity
            android:name=".FilterActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CurrentJobActivity" />
        <activity android:name=".CrntJobFilterActivity" />
        <activity
            android:name=".DetailsActivity"
            android:label="Job Description"
            android:parentActivityName=".Main2Activity" />
        <activity android:name=".PrevayActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".ITBytes.ITBytDetailsActivity"></activity>
    </application>

</manifest>